body{
  background-color:black;
  color:white;
  font-size: 20px;
  font-weight:bolder;
}
h1{
  position:absolute;
  margin-top: -62vh;
  margin-left:40%;
}
video{
  object-fit:contain;
}
span{
  animation: b 17s linear 1;
  display:inline-block;
  opacity: 0;
}
@keyframes b{  
  0%{
       transform: rotateY(90deg);  
        /* transform:rotateY(0deg) ;  */
       /* filter: blur(0px);   */
      opacity:0;
  }

  100%{
       transform:rotateY(0deg) ; 
      /* transform:rotateY(90deg) ; */
       /* filter: blur(3px); */
       opacity:1;
  }
} 